// Atom Material Dark Syntax
$very-light-gray:   #DDDDDD
$light-gray:        #B2CCD6
$gray:              #373b41
$dark-gray:         #282a2e
$very-dark-gray:    #212121

$green:             #C3E88D
$teal:              #009688
$light-teal:        #73d1c8
$cyan:              #89DDF3
$blue:              #82AAFF
$indigo:            #7986CB
$purple:            #C792EA
$pink:              #FF5370
$red:               #F07178
$strong-orange:     #F78C6A
$orange:            #FFCB6B
$light-orange:      #FFE082


.bgColor_column_12-demo
  background-color: $light-orange

.color_code-comment
  color: $light-black

.color_material-green
  color: $green

.color_material-orange
  color: $orange

.color_material-purple
  color: $purple

.color_material-cyan
  color: $cyan

.color_material-red
  color: $red

.color_material-strong-orange
  color: $strong-orange

.color_material-orange
  color: $orange

.bgColor_section-header
  background-color: $light-black
