.nav_menu
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 0
  list-style: none

.nav_menu-item
  display: flex

  a
    // 13px is 5 + 8px (my usual), but makes a link that is 44px high
    padding: 13px 16px
