/**
  *  FRAMEWORK
  *  do not alter for framework website
  */

.row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  max-width: $fullhd
  width: 100%
  margin: $gutter auto

  & >*
    display: flex
    flex-direction: column
    margin: $gutter / 2

// margin: 0 auto centers all columns if by themselves and without an offset

.column_mobile-1
  margin: 0 auto
  width: calc(100% / 12 * 1 - #{$gutter})

.column_mobile-2
  margin: 0 auto
  width: calc(100% / 12 * 2 - #{$gutter})

.column_mobile-3
  margin: 0 auto
  width: calc(100% / 12 * 3 - #{$gutter})

.column_mobile-4
  margin: 0 auto
  width: calc(100% / 12 * 4 - #{$gutter})

.column_mobile-5
  margin: 0 auto
  width: calc(100% / 12 * 5 - #{$gutter})

.column_mobile-6
  margin: 0 auto
  width: calc(100% / 12 * 6 - #{$gutter})

.column_mobile-7
  margin: 0 auto
  width: calc(100% / 12 * 7 - #{$gutter})

.column_mobile-8
  margin: 0 auto
  width: calc(100% / 12 * 8 - #{$gutter})

.column_mobile-9
  margin: 0 auto
  width: calc(100% / 12 * 9 - #{$gutter})

.column_mobile-10
  margin: 0 auto
  width: calc(100% / 12 * 10 - #{$gutter})

.column_mobile-11
  margin: 0 auto
  width: calc(100% / 12 * 11 - #{$gutter})

.column_mobile-12
  width: 100%

.column_tablet-1
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 1 - #{$gutter})

.column_tablet-2
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 2 - #{$gutter})

.column_tablet-3
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 3 - #{$gutter})

.column_tablet-4
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 4 - #{$gutter})

.column_tablet-5
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 5 - #{$gutter})

.column_tablet-6
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 6 - #{$gutter})

.column_tablet-7
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 7 - #{$gutter})

.column_tablet-8
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 8 - #{$gutter})

.column_tablet-9
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 9 - #{$gutter})

.column_tablet-10
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 10 - #{$gutter})

.column_tablet-11
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 11 - #{$gutter})

.column_tablet-12
  @media screen and (min-width: $mobile) and (max-width: $tablet)
    width: 100%

.column_1
  // max-width: 116px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 1 - #{$gutter})

.column_2
  // max-width: 232px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 2 - #{$gutter})

.column_3
  // max-width: 348px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 3 - #{$gutter})

.column_4
  // max-width: 464px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 4 - #{$gutter})

.column_5
  // max-width: 580px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 5 - #{$gutter})

.column_6
  // max-width: 696px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 6 - #{$gutter})

.column_7
  // max-width: 812px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 7 - #{$gutter})

.column_8
  // max-width: 928px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 8 - #{$gutter})

.column_9
  // max-width: 1044px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 9 - #{$gutter})

.column_10
  // max-width: 1160px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 10 - #{$gutter})

.column_11
  // max-width: 1276px
  @media screen and (min-width: $tablet)
    margin: 0 auto
    width: calc(100% / 12 * 11 - #{$gutter})

.column_12
  // max-width: 1392px
  @media screen and (min-width: $tablet)
    width: 100%

// margin: 0 resets the margin from the columns to start fresh as if
// margin: 0 auto wasn't there

.offset-1
  margin: 6.4px
  margin-left: calc(100% / 12 * 1 + (#{$gutter} - 6.4px))

.offset-2
  margin: 6.4px
  margin-left: calc(100% / 12 * 2 + (#{$gutter} - 6.4px))

.offset-3
  margin: 6.4px
  margin-left: calc(100% / 12 * 3 + (#{$gutter} - 6.4px))

.offset-4
  margin: 6.4px
  margin-left: calc(100% / 12 * 4 + (#{$gutter} - 6.4px))

.offset-5
  margin: 6.4px
  margin-left: calc(100% / 12 * 5 + (#{$gutter} - 6.4px))

.offset-6
  margin: 6.4px
  margin-left: calc(100% / 12 * 6 + (#{$gutter} - 6.4px))

.offset-7
  margin: 6.4px
  margin-left: calc(100% / 12 * 7 + (#{$gutter} - 6.4px))

.offset-8
  margin: 6.4px
  margin-left: calc(100% / 12 * 8 + (#{$gutter} - 6.4px))

.offset-9
  margin: 6.4px
  margin-left: calc(100% / 12 * 9 + (#{$gutter} - 6.4px))

.offset-10
  margin: 6.4px
  margin-left: calc(100% / 12 * 10 + (#{$gutter} - 6.4px))

.offset-11
  margin: 6.4px
  margin-left: calc(100% / 12 * 11 + (#{$gutter} - 6.4px))
