.padding-25
  padding-top: 25.6px
  padding-bottom: 25.6px

.padding-51
  padding-top: 51.2px
  padding-bottom: 51.2px

.padding-102
  padding-top: 102.4px
  padding-bottom: 102.4px

.negate-spacing
  margin: 0
  padding: 0

.negate-padding
  padding: 0

.negate-padding-top
  padding-top: 0

.negate-padding-bottom
  padding-bottom: 0

.negate-margin
  margin: 0

.default_column-gutter
  margin: 6.4px

.flex
  display: flex

.flex_justify-center
  justify-content: center

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column
