/**
  *  FRAMEWORK
  *  do not alter for framework website
  */

$base: 16px
$line-height: 1.6
$leading: $base * $line-height

@function pow($number, $exponent)
  $value: 1
  @if $exponent > 0
    @for $i from 1 through $exponent
      $value: $value * $number
  @return $value


@function ms($value, $ms-base: $base, $ms-ratio: $line-height)
  $size: pow($ms-ratio, $value)*$ms-base
  @return $size

// paragraph's base-height: 25.6px (font-size * line-height)
// ms(0): 16px
// ms(1): 25.6px
// ms(2): 40.96px
// ms(3): 65.536px
// ms(4): 104.858px

p,
a,
li,
figcaption,
label,
blockquote,
hr,
span,
time,
h1,
h2,
h3,
h4
  margin: 0
  padding: 0
  text-align: left

p,
a,
li,
figcaption,
label,
blockquote,
span
  font-size: ms(0)
  font-family: $body
  color: $body-color
  line-height: $leading

h1,
h2,
h3,
h4
  font-family: $headings
  line-height: 1.1

h1
  padding-top: $leading * 2
  // padding-bottom: $leading * 1.5
  font-size: ms(2)
  color: $h1-color

h2
  padding-top: $leading * 1
  padding-bottom: $leading * 0.5
  // text-transform: uppercase
  font-size: ms(1)
  color: $h2-color

h3
  padding-top: $leading * 0.5
  padding-bottom: $leading * 0.5
  text-transform: uppercase
  font-size: ms(0)
  color: $h3-color

h4
  padding-top: 0
  padding-bottom: $leading * 0.5
  text-transform: uppercase
  font-weight: 400
  font-size: 14px
  color: $h4-color


.text-center
  text-align: center

.text-right
  text-align: right

.text-uppercase
  text-transform: uppercase

.text-small-caps
  font-variant: small-caps

.text-underlined
  text-decoration: underline

.text-bold
  font-weight: bold
