ul
  margin: 0
  padding: 0
  list-style: none

.nav_menu-item a
  text-decoration: none
  font-family: $headings

  &:hover,
  &:focus
    color: $easy-black-hover
    outline: none
    text-transform: uppercase

  &:active
    color: $easy-black-active
    text-transform: uppercase
    font-weight: bold

.back-to-top
  padding: 8px 16px
  text-decoration: none
  text-transform: uppercase
  font-size: 12px
  font-family: $headings

  &:hover,
  &:focus
    color: $easy-black-hover
    outline: none

  &:active
    color: $easy-black-active
    font-weight: bold

.row
  div[class^="column_"]
    justify-content: center
    // align-items: center

.css-class-example
  display: inline-flex
  margin: 0 auto
  padding: 4px
  border: none
  border-radius: 2px
  font-family: $headings
  font-weight: bold
  background-color: $easy-white

.css-code-example
  padding: 12.8px
  background-color: #333
  border: none
  border-radius: 2px

  p
    font-family: $headings
    color: $easy-white

  span
    font-family: $headings

  @media screen and (max-width: $mobile)
    p,
    span
      font-size: 12px

.code-text-indent
  text-indent: 25.6px

.code-text-indent-2x
  text-indent: 51.2px
